<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CROP RECOMMENDATION SYSTEM</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>SDM COLLEGE OF ENGINEERING AND TECHNOLOGY</h1>
      <h2>PROJECT:- CROP RECOMMENDATION SYSTEM</h2>
      <h2>Under the guidence of Prof.Vyas.R.Murnal</h2>
      <br>
      <div class="t_c">
      <table>
        <tr>
          <td>
            1.Anusha G S 
          </td>
          <td>
            2SD21ECO1O
          </td>
        </tr>
        <tr>
          <td>
            2.Santrupti F M
          </td>
          <td>
            2SD21EC077
          </td>
        </tr>
        <tr>
          <td>3.Sneha Biradar</td>
          <td>2SD21EC092</td>
        </tr>
        <tr>
          <td>4.Sneha Pujar </td>
          <td>2SD21EC091</td>
        </tr>
      </table>
    </div>
      <br>
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>
